@charset "UTF-8";

body, div, p, h1, h2, h3, h4, h5 img {
    margin: 0;
    padding: 0;
  }
  
body {
    font-family: "Mplus 1p", 'Titillium Web', sans-serif;  
    background-color: #F0F4F8
  }  

.form-control {
    background-color: #fffafa;
    
}
.textArea {
  margin: 0;
  padding: 80px;
}

.box1 {
  background-color: white; 
  width: 60%;
  padding: 20px;
  border: ridge;
}








