@charset "UTF-8";



body, div, p, h1, h2, h3, h4, h5 img {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Mplus 1p", 'Titillium Web', sans-serif;  
    margin: 20px;
    padding: 20px;
    background-color: #F0F4F8

  }  

.form-control {
    background-color: #fffafa;
    
}
.textArea {
  margin: 0;
  padding: 80px;
}

.box {
  background-color: white; 
  width: 60%; height: 600px;
  padding: 20px;
  border: ridge;
}

div {
  
}









